.alien-wrapper {
  position: relative;
  margin: 90px 0;
  align-items: flex-start !important;
  h2 {
    width: 50%;
    font-size: 32px;
    font-weight: 400;
  }
  .descriptoin-container {
    width: 46%;
    .desc-wrapper {
      color: #828282;
      font-size: 16px;
      padding-bottom: 43px;
      p {
        padding-bottom: 20px;
      }
    }
  }
  .featured-wrapper {
    h3 {
      font-size: 24px;
      color: #4f4f4f;
      font-weight: 400;
      border-bottom: 1px solid #00ff29;
      padding-bottom: 10px;
      margin-bottom: 14px;
    }
    .featured-icons {
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;
      a {
        filter: contrast(0.8);
        cursor: pointer;
      }
    }
  }
  .greenEllipse {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #00ff29;
    animation-name: ellipse;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: absolute;
    box-shadow: 0px 0px 0px 80px #00ff29;
    filter: blur(45px);
    z-index: 0;
    left: 28%;
    top: 15%;
  }
}
