#circle-container {
  width: fit-content;
  position: absolute;
  cursor: pointer;
  z-index: 4;
  text-decoration: none;
  .circle {
    position: relative;
    width: 211px;
    height: 211px;
    border-radius: 50%;
    // background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    .center-text {
      z-index: 3;
      font-size: 32px;
    }
  }

  .center {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
  }

  .text-container {
    position: absolute;
    width: 102%;
    height: 102%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    svg {
      position: absolute;
      animation: rotate 12s linear infinite;
    }
  }

  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotate 8s linear infinite;
    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    span {
      position: absolute;
      left: 50%;
      font-size: 16px;
      transform-origin: 0 106px;
      top: 0;
    }
  }
  .bg-black {
    background-color: #000;
  }
  .bg-green {
    background-color: #1fff28;
  }
  .text-black {
    color: #000;
  }
  .text-green {
    color: #1fff28;
  }
}
