.header-wrapper {
  height: 123px;
  .nav {
    .nav-list {
      list-style-type: none;
      align-items: center;
      gap: 2rem;
      padding: 0;
      li {
        font-size: 16px;
        font-size: clamp(12px, 2vw, 16px);
        transition: transform 0.2s ease-out;
        &:hover {
          transform: scale(1.2);
          // text-decoration: underline;
          // text-decoration-color: #00ff29;
        }
        .nav-link {
          list-style-type: none;
          color: #828282;
          text-decoration: none;
        }
        .active-link {
          color: #000;
          font-weight: 600;
        }
      }
    }
    .nav-title {
      font-size: clamp(10px, 2vw, 16px);
      color: #828282;
      span {
        letter-spacing: -2px;
      }
    }
  }
}
