@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap");
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Figtree", sans-serif !important;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.main-container {
  /* width: 80%; */
}
.invisible {
  visibility: hidden;
}
.w-100 {
  width: 100%;
}
.nextjs-toast-errors-parent {
  display: none;
}
.cursor {
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}
.cursor .big {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1), width 0.3s cubic-bezier(0.25, 1, 0.5, 1), height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  background-color: #00ff29;
}
