.home-container {
  position: relative;
  .home-wrapper {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .info-wrapper {
      width: 50%;
    }
    .greenEllipse {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #00ff29;
      animation-name: ellipse;
      animation-duration: 5s;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      animation-play-state: running;
      position: absolute;
      box-shadow: 0px 0px 0px 109px #00ff29;
      filter: blur(35px);
      z-index: 0;
      left: 64%;
      top: 40%;
    }
    .description-wrapper {
      width: 50%;
      z-index: 2;
      h3 {
        font-size: clamp(18px, 2vw, 36px);
        line-height: 43px;
        font-weight: 400;
        color: #4f4f4f;
        padding-top: 5px;
        padding-left: 3%;
      }
    }
  }
}
.home-cards-wrapper {
  width: 80%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  .card-wrapper {
    width: calc(33.33% - 10px);
    position: relative;
    cursor: pointer;
  }
}
.home-marquee {
  font-weight: 700;
  font-size: 200px;
  margin: 2.5% 0;
  text-transform: uppercase;
}
